<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>

    <plugins>
        <plugin interceptor="com.dc.framework.orm.mybatis.plugin.OffsetLimitInterceptor">
            <property name="dialectClass" value="com.dc.framework.jdbc.dialect.MySQLDialect"/>
        </plugin>
        <plugin interceptor="com.dc.framework.log.sqlmonitor.MybatisSqlMonitorPlugin">
            <property name="printSql" value="true"></property>
        </plugin>
    </plugins>
</configuration>